.wrapper {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: scroll;
}

.nav {
	display: flex;
	justify-content: space-between;
	background: var(--bl-surface);
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.07);

	&__link {
		flex: 1;
		max-width: 6.90625rem;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		gap: 0.25rem;
		padding: 0.5rem;
		color: var(--bl-on-surface-variant);
		font-size: 0.625rem;
		font-weight: 500;
		line-height: 0.9375rem; /* 150% */
		text-decoration: none;
		border-bottom: 4px solid transparent;
		text-align: center;

		&:global(.active) {
			color: var(--bl-on-surface-variant2);
			background: var(--bl-surface-container-low);
			border-color: var(--bl-secondary);
		}

		&Icon {
			width: 1.25rem;
			height: 1.25rem;
		}
	}
}

.buttons {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;

	button {
		width: auto;

		&:last-child {
			min-width: 11.5625rem;
		}
	}
}

.exit {
	padding: 1rem 0;
}

@media (min-width: 900px) {
	.wrapper {
		display: none;
	}
}
