/* stylelint-disable */
html,
body {
	width: 100%;
	height: 100%;
}
input::-ms-clear,
input::-ms-reveal {
	display: none;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@-ms-viewport {
	width: device-width;
}
body {
	margin: 0;
}
[tabindex="-1"]:focus {
	outline: none;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0.5em;
	font-weight: 500;
}
p {
	margin-top: 0;
	margin-bottom: 1em;
}
abbr[title],
abbr[data-original-title] {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline;
	text-decoration: underline dotted;
	border-bottom: 0;
	cursor: help;
}
address {
	margin-bottom: 1em;
	font-style: normal;
	line-height: inherit;
}
input[type="text"],
input[type="password"],
input[type="number"],
textarea {
	-webkit-appearance: none;
}
ol,
ul,
dl {
	margin-top: 0;
	margin-bottom: 1em;
}
ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}
dt {
	font-weight: 500;
}
dd {
	margin-bottom: 0.5em;
	margin-left: 0;
}
blockquote {
	margin: 0 0 1em;
}
dfn {
	font-style: italic;
}
b,
strong {
	font-weight: bolder;
}
small {
	font-size: 80%;
}
sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
pre,
code,
kbd,
samp {
	font-size: 1em;
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
pre {
	margin-top: 0;
	margin-bottom: 1em;
	overflow: auto;
}
figure {
	margin: 0 0 1em;
}
img {
	vertical-align: middle;
	border-style: none;
}
a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
	touch-action: manipulation;
}
table {
	border-collapse: collapse;
}
caption {
	padding-top: 0.75em;
	padding-bottom: 0.3em;
	text-align: left;
	caption-side: bottom;
}
input,
button,
select,
optgroup,
textarea {
	margin: 0;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
}
button,
input {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	padding: 0;
	border-style: none;
}
input[type="radio"],
input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
	-webkit-appearance: listbox;
}
textarea {
	overflow: auto;
	resize: vertical;
}
fieldset {
	min-width: 0;
	margin: 0;
	padding: 0;
	border: 0;
}
legend {
	display: block;
	width: 100%;
	max-width: 100%;
	margin-bottom: 0.5em;
	padding: 0;
	color: inherit;
	font-size: 1.5em;
	line-height: inherit;
	white-space: normal;
}
progress {
	vertical-align: baseline;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	outline-offset: -2px;
	-webkit-appearance: none;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}
output {
	display: inline-block;
}
summary {
	display: list-item;
}
template {
	display: none;
}
[hidden] {
	display: none !important;
}
mark {
	padding: 0.2em;
	background-color: #feffe6;
}

// end of reset section

$assets: "./assets";

@font-face {
	font-family: IRANSansXFaNum;
	font-weight: 400;
	src: url($assets + "/font/IRANSansXFaNum-Regular.woff") format("woff");
}

@font-face {
	font-family: IRANSansXFaNum;
	font-weight: 500;
	src: url($assets + "/font/IRANSansXFaNum-Medium.woff") format("woff");
}

@font-face {
	font-family: IRANSansXFaNum;
	font-weight: 700;
	src: url($assets + "/font/IRANSansXFaNum-Bold.woff") format("woff");
}

:root {
	--bl-primary: #0073e6;
	--bl-on-primary: #fefefe;
	--bl-primary-container: #f4c6cf;
	--bl-on-primary-container: #2a0910;

	--bl-primary-fixed: #f4c6cf;
	--bl-on-primary-fixed: #2a0910;
	--bl-primary-fixed-dim: #edabb9;
	--bl-on-primary-fixed-dim: #7f1a30;

	--bl-primary-8: rgba(211, 44, 80, 0.08);
	--bl-on-primary-8: rgba(255, 255, 255, 0.08);
	--bl-primary-12: rgba(211, 44, 80, 0.12);
	--bl-on-primary-12: rgba(255, 255, 255, 0.12);

	--bl-secondary: #284ad7;
	--bl-on-secondary: #ffffff;
	--bl-secondary-container: #e9edfb;
	--bl-on-secondary-container: #092a16;

	--bl-secondary-fixed: #d4dbf7;
	--bl-on-secondary-fixed: #080f2b;
	--bl-secondary-fixed-dim: #a9b6ef;
	--bl-on-secondary-fixed-dim: #182c81;

	--bl-secondary-8: rgba(40, 74, 215, 0.08);
	--bl-on-secondary-8: rgba(255, 255, 255, 0.08);
	--bl-secondary-12: rgba(40, 74, 215, 0.12);
	--bl-on-secondary-12: rgba(255, 255, 255, 0.12);

	--bl-success: #24a858;
	--bl-on-success: #ffffff;
	--bl-success-container: #eafaf0;
	--bl-on-success-container: #092a16;

	--bl-info: #19aae6;
	--bl-on-info: #ffffff;
	--bl-info-container: #e8f6fc;
	--bl-on-info-container: #05222e;

	--bl-warning: #ff9b00;
	--bl-on-warning: #ffffff;
	--bl-warning-container: #fff5e5;
	--bl-on-warning-container: #331f00;

	--bl-warning-8: rgba(255, 155, 0, 0.08);
	--bl-on-warning-8: rgba(255, 255, 255, 0.08);
	--bl-warning-12: rgba(255, 155, 0, 0.12);
	--bl-on-warning-12: rgba(255, 255, 255, 0.12);

	--bl-error: #ff0a00;
	--bl-on-error: #ffffff;
	--bl-error-container: #ffe6e5;
	--bl-on-error-container: #330200;

	--bl-error-8: rgba(255, 10, 0, 0.08);
	--bl-on-error-8: rgba(255, 255, 255, 0.08);
	--bl-error-12: rgba(255, 10, 0, 0.12);
	--bl-on-error-12: rgba(255, 255, 255, 0.12);

	--bl-surface: #2b2f3d;
	--bl-surface-dim: #d5d7de;
	--bl-surface-bright: #f9fafa;
	--bl-surface-container-lowest: #fff;
	--bl-surface-container-low: #aeaeae;
	--bl-surface-container: #ebedf0;
	--bl-surface-container-high: #e6e8eb;
	--bl-surface-container-highest: #e1e3e5;

	--bl-on-surface: #15171a;
	--bl-on-surface-variant: #ededed;
	--bl-on-surface-variant2: #15171a;
	--bl-outline: #a6aab2;
	--bl-outline-variant: #2b2f3d;

	--bl-on-surface-8: rgba(23, 25, 28, 0.08);
	--bl-on-surface-12: rgba(23, 25, 28, 0.12);
	--bl-on-surface-38: rgba(23, 25, 28, 0.38);

	--bl-inverse-surface: #2c2e33;
	--bl-inverse-on-surface: #f1f2f3;
	--bl-inverse-primary: #edabb9;
	--bl-scrim: #000000;
	--bl-shadow: #000000;

	--bl-gray: #f8fafd;
	--bl-border-field: #cfd6e4;
	--bl-primary-30: rgba(249, 226, 231, 0.3);
	--bl-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.12);
}

* {
	box-sizing: border-box;
}

body {
	color: var(--bl-on-surface);
	font-family: IRANSansXFaNum, sans-serif;
	font-weight: 400;
	font-size: 16px;
	direction: rtl;
	text-align: right;
	margin: 0;
	height: auto;
}

input,
button {
	border: none;
	font-family: inherit;

	&:focus-visible {
		outline: none;
	}
}

button {
	cursor: pointer;
	background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

.table {
	width: 100%;
	border-radius: 0.5rem;
	overflow: hidden;

	tr {
		&:nth-child(odd) {
			background: var(--bl-surface-bright);
		}

		&.pink {
			background: var(--bl-primary-8);
		}
	}

	th {
		height: 2.25rem;
		padding: 0.25rem 0.75rem;
		text-align: center;
		color: var(--bl-on-surface-variant);
		font-size: 0.75rem;
		font-weight: 500;
		line-height: 1rem; /* 133.333% */
		background: var(--bl-surface-container-low);
	}

	td {
		height: 4.25rem;
		padding: 1.25rem 0.75rem;
		text-align: center;
		color: var(--bl-on-surface);
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 1.25rem; /* 142.857% */
	}
}

#root {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
}

.container {
	display: flex;
	width: 100%;
	max-width: 96%;
	margin-inline: auto;
}

// Mui Theme

.MuiTypography-root,
.MuiFormLabel-root {
	font-family: IRANSansXFaNum !important;
}

.MuiButtonBase-root.MuiRadio-root.Mui-checked {
	color: var(--bl-secondary);
}
